@using GVAVacationManager.HelpingTools;
@model dynamic;

<body class="custom">
    <div class="row py-5 px-4">
        <div class="col-md-10 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    
                </div>
                <div class="px-4 py-5" style="margin-top: 20px;">
                    <h5 class="mb-2" style="margin-left: 35px;">@Model.TeamName</h5>
                    <div class="container">
                        <div class="p-4 my-2 rounded shadow-sm bg-light">
                           <p> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
