@{
    ViewData["Title"] = "Home Page | GVA ";
}


<head>
    <link href="~/css/custom-style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:white;">
    <div class="text-center">
        <img src="~/images/banner-homePage.jpg" alt="home page pic">
    </div>
</body>
