@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link href="~/css/custom-style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
